# MAIN.yml
name: Trivy Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * 1'  # Every Monday at 01:00 UTC

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  container-scan:
    uses: marekboodt/Security-Scanning-Repo/.github/workflows/50-container-scan-workflow.yml@main
    with:
      image-name: my-trivy-test-app
      image-tag: latest
      dockerfile-path: ./docker
      exception-profile: ubuntu  # Laadt ubuntu.trivyignore
      environment: non-prod
